* {
box-sizing: border-box;
padding: 0;
margin:0;
}

body, html {
margin: 0;
padding: 0;
height:120vh;
width: 100%;
font-family: Arial, sans-serif;
}

.Header{
height:10%;
width:100%;
background-color: #1e3d59;
}

.container{
display:flex;
background-color: #f5f0e1;
height:90%;
width:100%;

}

.left-column{
height:100%;
width:50%;
flex:50%
}

.right-column{
height:100%;
width:50%;
flex:50%;
display: flex;
justify-content: center;
align-items: center;
}

.form-container{

margin:auto;
background-color:#1e3d59;
height:50%;
width:60%;
align-content:center;
flex-direction: column;
border-radius: 4px;

}
.form-container label, a{
color:white;
}
.form-containers{
margin:auto;
background-color:#1e3d59;
height:95%;
width:60%;
align-content:center;
flex-direction: column;
border-radius: 4px;

}
.form-containers label, a{

color:white;
}

form input{
height:35px;
width: 95%;
margin-bottom:25px;
margin-left:8px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
}

.button{
display:flex;
justify-content:center;
}

.button button{
background-color:#f5f0e1;
height:35px;
width: 30%;
margin-bottom:25px;
margin-left:8px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
cursor: pointer;


}

form label{
margin-left:6px;
}



.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    transition: opacity 0.6s;
}


.alert.success {
    background-color: #4CAF50;
}


.alert.info {
    background-color: #2196F3;
}


.alert.warning {
    background-color: #ff9800;
}


.alert .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


