* {
box-sizing: border-box;
padding: 0;
margin:0;
}

body, html {
margin: 0;
padding: 0;
height:93vh;
width: 100%;
font-family: Arial, sans-serif;
}

.Header{
height:10%;
width:100%;
background-color: #1e3d59;
}

.container{
display:flex;
background-color: #f5f0e1;
height:93vh;
width:100%;
}

.left-column{
height:100%;
width:50%;
flex:50%
}

.right-column{
height:100%;
width:50%;
flex:50%;
display: flex;
justify-content: center;
align-items: center;
}

.form-container{
margin:auto;
background-color:#1e3d59;
height:50%;
width:60%;
align-content:center;
flex-direction: column;
border-radius: 4px;

}



form input{
height:35px;
width: 95%;
margin-bottom:25px;
margin-left:8px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
}

.button{
display:flex;
justify-content:center;
}
.button button{
background-color:#f5f0e1;
height:35px;
width: 30%;
margin-bottom:25px;
margin-left:8px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 14px;
cursor: pointer;


}

form label{
margin-left:6px;
}





