{% extends 'app/base.html' %}

{% block title %}Application Details{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Application Details</h1>
    <p><strong>Pet:</strong> {{ application.pet.name }}</p>
    <p><strong>User:</strong> {{ application.user.username }}</p>
    <p><strong>Reason for Adoption:</strong> {{ application.reason_for_adoption }}</p>
    <p><strong>Additional Details:</strong> {{ application.additional_details }}</p>
    <p><strong>Status:</strong> {{ application.status }}</p>
    <p><strong>Created At:</strong> {{ application.created_at }}</p>
    {% if authenticated.is_staff%}
    <a href="{% url 'adoption_application_update' application.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'adoption_application_list' %}" class="btn btn-secondary">Back to List</a>
    {% endif %}
</div>
{% endblock content %}
