{% extends 'app/base.html' %}

{% block content %}
  <div id="post_detail_container">
    <h2 id="post_title">{{ post.title }}</h2>

    <div id="post_info">
      <p><strong>Author:</strong> <span id="post_author">{{ post.author }}</span></p>
      <p><strong>Created:</strong> <span id="post_date">{{ post.date_posted|date:"F j, Y" }}</span></p>
    </div>

    <div id="post_image_section">
      {% if post.post_image %}
        <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="post_image" id="post_image_{{ post.pk }}">
      {% else %}
        <p id="no_image_message">No image available</p>
      {% endif %}
    </div>

    <div id="post_body">
      <p>{{ post.body|safe }}</p>
    </div>

    <div id="post_categories">
      <p><strong>Categories:</strong> <span id="post_categories_text">{{ post.post_categories }}</span></p>
    </div>

    <div id="post_actions">
      <a href="{% url 'post_update' post.pk %}" class="btn btn-warning" id="edit_post_btn">Edit</a>
      <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger" id="delete_post_btn">Delete</a>
    </div>
  </div>
{% endblock content %}
