{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<div class="profile-container" style="width: 400px;">
     <h1>User Profile</h1>
    <div class="profile-info">
        <span class="profile-label">First Name:</span> {{ profile.user.first_name }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Middle Name:</span> {{ profile.middle_name }} <!-- Updated to use profile.middle_name -->
    </div>
    <div class="profile-info">
        <span class="profile-label">Last Name:</span> {{ profile.user.last_name }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Username:</span> {{ profile.user.username }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Email:</span> {{ profile.user.email }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Age:</span> {{ profile.age }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Gender:</span> {{ profile.get_gender_display }}
    </div>
    <div class="profile-info">
        <span class="profile-label">Phone Number:</span> {{ profile.phone_number }}
    </div>
        <a href="{% url 'edit_profile' %}" class="edit-button">Edit Profile</a>  <!-- Link to Edit Profile -->

</div>
{% endblock content %}
