{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="adoption-application-container">
    <h2 class="adoption-title">Apply to Adopt {{ pet.name }}</h2>
    <form action="{% url 'adoption_application_create' pk=pet.pk %}" method="post" class="adoption-form">
      {% csrf_token %}
      <div class="form-fields">
        {{ form.as_p }}
      </div>
      <button type="submit" class="adoption-submit-button">Submit Application</button>
    </form>
    <a href="{% url 'pet_list' %}" class="adoption-cancel-link">Cancel</a>
  </div>
{% endblock content %}