<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escultura Website</title>


 <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>
<body>

<div class="Header">
    <div class="left-header">
       <p>Welcome, {{ user.username }}!</p>
    </div>
    <div class="right-header">
            <a href="" class="logout-button">Log Out</a>
    </div>
</div>
<div class ="container">

<div class="sidebar">
{% include 'app/sidebar.html' %}
</div>
<div class ="contents">
{% block content %}

{% endblock content %}
</div>
</div>



</body>
</html>