{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escultura Website</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>
<body>

<div class="Header">
    <div class="left-header">
       <p>Welcome, {{ user.username }}!</p>
    </div>
    <div class="right-header">
            {% if user.is_authenticated %}
             <a href="{% url 'login' %}" class="logout-button">Log out</a>
            {% else %}

            {% endif %}
    </div>
</div>
<div class ="container">

<div class="sidebar">
{% include 'app/sidebar.html' %}
</div>
<div class ="contents">
{% block content %}

{% endblock content %}
</div>
</div>



</body>
</html>