{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="create-button">
    <a href="{% url 'blog_create' %}">+New Post</a>
</div>

<div class="box-container">
    {% for post in posts %}
        <div class="post-box">
            <div class="post-entry">
                <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
                <div class="image-detail">
                    {% if post.post_image %}
                        <a href="{% url 'blog_detail' post.pk %}">
                            <img src="{{ post.post_image.url }}" alt="Post Image" > <!-- Adjusted image styling -->
                        </a>
                    {% else %}
                        <p>No image available</p> <!-- Optional message for posts without images -->
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}