{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="create-container">
    <div class="form-container">
        <h1>New Post</h1>
        <form action="{% url 'blog_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-fields">
                {{ form.as_p }}
            </div>
            <div class="form-submit">
                <input type="submit" value="Save" class="submit-btn">
            </div>
        </form>
    </div>
</div>
{% endblock content %}