{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="Header">
   {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
                <button class="close-btn" onclick="closeAlert(this)">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="left-column">
        <h1>left-column</h1>
    </div>
    <div class="right-column">
        <div class="form-container">
            <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label>
                Username
            </label>
            <input type="text" name="username" placeholder="admin" required>
            <label>
                Password
            </label>
            <input type="password" name="password" placeholder="qwerty@123" required>
            <div class="button">
                <button type="submit">Login</button>
            </div>

            </form>
            <a href="{% url 'join' %}" class="button"> Sign Up</a>



        </div>
    </div>
    <script src="{% static 'js/join.js' %}"></script>
</div>
</body>
</html>