{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="notification-box-list">
   <ul class="notification-list">
        <h2 class="notification-title">Your Notifications</h2>
        {% for notification in notifications %}
            <li class="notification-item">
                <strong class="notification-timestamp">{{ notification.timestamp|date:"M d, Y H:i" }}</strong>:
                <span class="notification-message">{{ notification.message }}</span>
                {% if not notification.is_read %}
                    <form action="{% url 'mark_notification_as_read' notification.id %}" method="post" class="mark-read-form">
                        {% csrf_token %}
                        <button type="submit" class="mark-read-button">Mark as Read</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <li class="no-notifications">No notifications yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
