{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="create-pet-container">
    <h2 class="create-pet-title">Create a New Pet</h2>

    <form action="{% url 'pet_create' %}" enctype="multipart/form-data" class="create-pet-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Create" class="btn btn-primary create-pet-btn">
    </form>

    <a href="{% url 'pets' %}" class="back-to-pet-list">Back to Pet List</a>

    <a href="{% url 'pets' %}" class="back-to-pet-list">Back to Pet List</a>
</div>
{% endblock content %}