{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="create-pet-container">
    <h2 class="create-pet-title">Create a New Pet</h2>

    <form method="POST" enctype="multipart/form-data" class="create-pet-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary create-pet-btn">Create Pet</button>
    </form>

    <a href="{% url 'pet_list' %}" class="back-to-pet-list">Back to Pet List</a>
</div>
{% endblock content %}