{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="deletion-confirmation-container">
    <h2 class="confirmation-title">Confirm Deletion</h2>
    <p class="confirmation-message">Are you sure you want to delete "{{ pet.name }}"?</p>
    <form action="{% url 'pet_delete' pet.pk %}" class="confirmation-form"  method="post">
      {% csrf_token %}
      <input type="submit" value="Confirm" class="confirmation-button">
    </form>
    <a href="{% url 'pets' %}" class="cancel-link">Cancel</a>
  </div>
{% endblock content %}