{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="profile-box-container">
    <div class="profile-container">
        <!-- Profile Box with background image -->
        <div class="profile-box" style="background-image: url('{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}');">
            <div class="profile-box-left">
                <h4>{{ object.user.username }}</h4>
                <!-- Profile Image -->
                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" alt="Profile Image" class="dropbtn">
                {% else %}
                    <img src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Image" class="dropbtn">
                {% endif %}
                <div class="profile_edit_button">
                    <a href="{% url 'edit_profile' %}">Edit Profile</a>
                </div>
            </div>
            <div class="profile-box-right">
                <!-- Add any additional profile info here -->
            </div>
        </div>

        <!-- Profile Posts -->
        <div class="profile-posts">
            {% for post in posts %}
                <div class="profile-post-box">
                    <div class="post-title">
                        <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
                    </div>

                    <div class="profile-post-image">
                        {% if post.post_image %}
                            <a href="{% url 'blog_detail' post.pk %}">
                                <img src="{{ post.post_image.url }}" alt="Post Image">
                            </a>
                        {% else %}
                            <p class="no-image">No image available</p>
                        {% endif %}
                    </div>
                    <div class="pet-description">
                        <p>{{ post.body|truncatewords:30 }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No posts available.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
