{% extends 'app/base.html' %}

{% block content %}
<div class="shelter-details-container">
        <div class="action">
            <a href="{% url 'shelter_edit' shelter.pk %}">+ Edit Shelter</a>
            <a href="{% url 'shelter_delete' shelter.pk %}" >- Delete Details</a>
        </div>
    <h2 class="shelter-name">{{ shelter.name }}</h2>
    <div class="shelter-details">
        <p>Description: {{ shelter.description }}</p>
        <p>Location: {{ shelter.address }}</p>
        <p>Contact Email: {{ shelter.contact_email }}</p>
        <p>Phone Number: {{ shelter.phone_number }}</p>
        <p>Website: <a href="{{ shelter.website }}">{{ shelter.website }}</a></p>
    </div>
</div>
{% endblock content %}